<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MakersBNB</title>
    <link rel="stylesheet" href="/static/style.css" >
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #F0F0F0;
            text-align: left;
        }
        h1 {
            color: #333;
            font-size: 36px;
        }
    </style>
</head>
<body>
    <h1><centre>Booking Successful!</centre></h1>
    <!-- You can add more content here if needed -->
    <p>"Success! Your booking has been confirmed!"</p>
    <br>
    <h4>Your booking details:</h4>
</body>
</html>