<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB</title>


        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p class = "t-session_email">
            {% if email_address %}
                {{email_address}}
            {% endif %}
        </p>
        <h1>
            Listings
        </h1>
        <p>Description placeholder</p>
        <p><a href="/index/new"><button type="button">Create a new listing</button></a></p>
        {% for space in spaces %}
        <ul>
            <li>
                <p><a href="/index/{{space.id}}">{{space.name}}</a></p>
                <p>Price per night: £{{space.price}}</p> 
                <p>Description: {{space.description}}</p>
                <br>
            </li>
        </ul>    
        {% endfor %}
    </body>
</html>

