<!DOCTYPE html>
<html lang="en">
<head>
    <title>New listing</title>
    <link rel="stylesheet" type="text/css" href="/static/style_new.css">
</head>
<body>
    
        <div class = "header1"><h1>Create a new listing</h1></div>
        <form action="/index" method="POST">
        {% if errors %}
        <p class="t-errors">
            Your submission contains errors:
            {{ errors | join(', ')}}
        </p>
        {% endif %}

    
        <p id = "name">
            <label for="name">Name</label>
            <br>
            <input type="text" name="name" id="name">
        </p>

        <p id = "description" >
            <label for="description">Description</label>
            <br>
            <input type="text" name="description" id="description">
        </p>
        <p id = "price">
            <label for="description">Price</label>
            <br>
            <input type="number" name="price" step="any" min="0" id="price">
        </p>
        <br>
        <div id = "date_from">
            <label for="date_from">Date From:</label>
            <input type="date" id="date_from" name="date_from" required>
            <br>
        </div>
        <br>
        <div id = "date_to">
            <label for="date_to">Date To:</label>
            <input type="date" id="date_to" name="date_to" required>
        </div>
        <br>
        <input type="submit" value="Add listing">
        </form>
    
    
    
</body>
</html>