<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single listing</title>
    <meta charset="utf-8">

    <!-- Link your custom CSS file -->
    <link rel="stylesheet" href="/static/style_ben.css">
</head>
<body>
    <div class="split-container">
      <div class="left-side-space-1" style="background-image: url({{space.image_url}});">
        <!-- Insert your image here -->
        <div class="right-side">
            <h1>Name: {{space.name}}</h1>
            <br>
            <p class="t-price">Price: £{{space.price}}</p>
            <p class="t-description">Description: {{space.description}}</p>
            <p class="t-date_from">Available From: {{space.date_from}}</p>
            <p class="t-date_to">Available To: {{space.date_to}}</p>
            <br>
            <form method="GET" action="/booking_confirmation">
                <h3>Choose a date to book:</h3>
                <label for="selected_date">Date:</label>
                <input type="date" id="selected_date" name="selected_date" min="{{space.date_from}}" max="{{space.date_to}}" required>
                <br>
                <input type="submit" value="Confirm your booking">
            </form>
            <br>
            <br>
            <a href="/index">Go back to all listings</a>
        </div>
    </div>

    <!-- Your JavaScript code (if any) -->

</body>
</html>
