<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Single listing</title>
  </head>
  <body>
    <h1>Name: {{space.name}}</h1>
    <p class="t-price">Price: £{{space.price}}</p>
    <p class="t-description">Description: {{space.description}}</p>
    <p class="t-date_from">Available From: {{space.date_from}}</p>
    <p class="t-date_to">Available To: {{space.date_to}}</p>
    <p>
      <a href="/index">Go back to all listings</a>
    </p>
    <p>Choose a date to book:</p>
    <input type="date" id="date" name="date"></p>
    

    
  </body>
</html>


