body{

    background-image: url('https://z.cdrst.com/foto/hotel-sf/b2ac/granderesp/hilton-los-cabos-entorno-11668c96.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: left;
    }
    h1 {
        color: #333;
        font-size: 100px;
    }
    
    