<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB</title>
        <meta charset="utf-8">
        <style>
            body{

                background-image: url('https://z.cdrst.com/foto/hotel-sf/b2ac/granderesp/hilton-los-cabos-entorno-11668c96.jpg');
                background-size: cover;
                background-position: center;
                }
            h2{

                background-color: none;
                text-align: center;
                font-size: 60px;
                padding: 20%;
            }





        </style>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h2> YOU'RE SIGNED UP</h2>

    </body>
</html>
