<!DOCTYPE html>
<html lang="en">
<head>
    <title>MakersBnB</title>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="split-container">
        <div class="left-side"></div>
        <div class="right-side">
            <h2 class="sign-up-header">SIGN UP TO MAKERS BNB</h2>
            <form action="/MakersBNB" method="post">
                
                
                {% if errors %}
                    <p class="t-errors">There were errors with your submission: {{errors}}</p>
                {% endif %}
                
                <p class="t-email">
                    <label for="email_address">Email Address</label>
                    <input type="text" name="email_address" id="email_address" placeholder="Email Address">
                </p>
                
                <p class="password-toggle-container">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                    <span class="password-toggle" onclick="togglePasswordVisibility('password')">🔐</span>
                </p>
                
                <p class="password-toggle-container">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                    <span class="confirm-password-toggle" onclick="togglePasswordVisibility('confirm_password')">🔐</span>
                </p>
                
                <p>
                    <input type="submit" value="Sign Up">
                </p>
            
                <div style="text-align: center; padding-top: 20px">
                    If you are already signed up login <a href="/Login" style="color: #a55be1;">Here</a></p>
                </div>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function togglePasswordVisibility(inputId) {
            const passwordInput = document.getElementById(inputId);
            passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
        }
    </script>
</body>
</html>
